conda {
    enabled = true
    createTimeout = "1 h"
}


params {
    nanopore = false
    PEreads = ""
    SEreads = ""
    genome = "$projectDir/resources/hg38.fa"
    refFlat = "$projectDir/resources/refFlat.txt.gz"
    annotation = "$projectDir/resources/hg38.ncbiRefSeq.gtf"
    outdir = "$projectDir/RNASeq_results"
    short_minQ = 20
    short_minLen = 20
    long_minQ = 7
    long_minLen = 100
    overhang = 148 //should be read length - 1
    nperm = 1000000
    collections = 'H,C2,C3,C4,C5,C6,C7' //can also add C1 and C8
    help = false
}

process {
    executor = 'slurm'
    clusterOptions = params.nanopore ? "--ntasks=8" : "--ntasks=6" 
    cpus = 1
    memory = 2.GB 
    withLabel: high {
        memory = 55.GB
        cpus = 2
    }
    withLabel: multi_short {cpus = 2}
    withLabel: multi_long { 
        cpus = 8
        memory = 20.GB
    }
    conda = "$projectDir/envs/rnaseq.yaml"
}

timeline {
    enabled = true
    if (params.nanopore) {
        file = "$params.outdir/Nanopore/timeline.html"
    } else {file = "$params.outdir/Illumina/timeline.html"}
    
}

report {
    enabled = true
    if (params.nanopore) {
        file = "$params.outdir/Nanopore/report.html"
    } else {file = "$params.outdir/Illumina/report.html"}
}

dag {
    enabled = true
    if (params.nanopore) {
        file = "$params.outdir/Nanopore/dag.html"
    } else {file = "$params.outdir/Illumina/dag.html"}
}